# Relish
.relish

# Do not Check In Gemfile.lock
Gemfile.lock

# simple_cove generated
coverage
coverage.data

# rdoc generated
rdoc

# bundler
.bundle

# jeweler generated
pkg

# Vagrant
.vagrant/
package.box

# Git configuration
.gitconfig
