# Ignore the database
db/*.sqlite3

# simple_cove generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# Vagrant
.vagrant/
package.box

# ignore cli test files
spec/support/cli/files
*.vt_empty*
*.vt*
